@font-face {
  font-family: Cabinet Grotesk;
  src: "../../vendor/fonts/CabinetGrotesk-Bold.woff";
  /* src: "../fonts/CabinetGrotesk-Bold.woff"; */
}
.page {
  max-width: 1360px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1460px) {
  .page {
    max-width: 90%;
  }
}
