.sideBar {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  /* width: calc(100vw - 1200px); */
  width: 239px;
}

.sideBar__avatar {
  width: 56px;
  height: 56px;
}

@media screen and (max-width: 810px) {
  .sideBar {
    padding-top: 20px;
  }
}
