.modal__content-profile {
  height: 340px;
}
.modal__label {
  /* display: block; */
  margin: 24px 0 2px;
}
.modal__input {
  margin: 10px 0;
  padding-bottom: 5px;
  line-height: 1.2;
}
.modal__button-container {
  position: relative;
  padding: 12px;
  margin-top: 65px;
}
.modal__login-button {
  background-color: white;
  border: none;
  font-size: 20px;
  position: absolute;
  bottom: 12px;
  left: 100px;
}
